<!-- Navbar -->


<div class="topnav" id="myTopnav">
	<div class="container">
		<a href="#">LOGO</a>
		<div class="nav_links">
		<% @root_categories.each do |category| %>
			<%= link_to category.name, category %>
		<% end %>
		</div>

		<a href="javascript:void(0);" class="icon" onclick="openNav()">
		   <i class="fa fa-bars"></i>
		 </a>
		<div class="right">
			<a href="javascript:void(0);" class=" icon search" onclick="openNav()">
			   <i class="fa fa-search"></i>
			 </a>
			  <div class="dropdown">
			    <button class="dropbtn">Francais
			      <i class="fa fa-caret-down"></i>
			    </button>
			    <div class="dropdown-content">
			      <a href="#">Link 1</a>
			      <a href="#">Link 2</a>
			      <a href="#">Link 3</a>
			    </div>
			  </div>
			<a href="#Videos">EN</a>
			<a href="#Videos">Videos</a>

		</div>

		<div id="myNav" class="overlay">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<!--
		  <div class="overlay-content">
		    <a href="#">About</a>
		    <a href="#">Services</a>
		    <a href="#">Clients</a>
		    <a href="#">Contact</a>
		  </div>
		  -->
		<%= render 'pages/overlay'%>		   
		</div>
	</div>
</div>